<mat-toolbar color="primary">
  <a
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
  </a>
  <a class="btn__link" [routerLink]="'/'">Exam Portal</a>
  <span class="example-spacer"></span>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    Login
  </button> -->
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>Register</mat-icon>
  </button> -->
  <a [routerLink]="'/login'" class="mr20 btn__link">Login</a>
  <a [routerLink]="'signup'" class="btn__link">Register</a>
</mat-toolbar>
